.register-block{
    float:left;
    width:100%;
    padding : 50px 0;
}
body{
    background: #000 !important;
}

.container{background:#ECC9EE;width: 40%; height: 40%;
    /* border: 4px solid #f27; */
}
.register-sec{padding: 50px 30px; position:relative;}
.register-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #f27;}
.register-sec h2:after{content:" "; width:100px; height:5px; background:#6ec6ff; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background: #0069c0; color:#fff; font-weight:600;border:2px solid #fff;}

h2{
    color: #D4ADFC;
}